.admin_main_body {
    width: 100vw;
    height: 100vh;
    background-color:#45B4D0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
   .sequare{
      position: absolute;
      width: 800px;
      height: 800px;
      background-color: #A7DBE8;
      left: -38%;
      transform: rotate(45deg);
  }
  .small_sequare{
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: #A7DBE8;
      transform: rotate(45deg);
      top: -14%;
      left:4%;
  
  }
  .small_sequare1{
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: #A7DBE8;
      transform: rotate(45deg);
      bottom: -14%;
      left:4%;
  
  } 
  .r_sequare{
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: #A7DBE8;
    right: -38%;
    transform: rotate(45deg);
}
.r_small_sequare{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #A7DBE8;
    transform: rotate(45deg);
    top: -14%;
    right:4%;

}
.r_small_sequare1{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #A7DBE8;
    transform: rotate(45deg);
    bottom: -14%;
    right:4%;

} 

  
  
  .admin_main_container {
    width: 85%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .left_admin_side{
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .camara_show_area{
      width: 300px;
      height: 300px;
      border: 2px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
    }
    
    .camera-view {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
  .buttons_admin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 15%;
    gap: 10px;
  }
  .buttons_admin button{
    width: 35%;
    height: 50%;
    cursor: pointer;
  }
  .camara_start{
    background-color: rgb(33, 233, 15);
    color: white;
    outline: none;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  .camara_start:hover{
    background-color: rgba(33, 233, 15, 0.747);
  }
  .camara_stop{
    background-color: rgb(233, 15, 15);
    color: white;
    outline: none;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  .camara_stop:hover{
    background-color: rgba(233, 15, 15, 0.737);
  }
  .right_admin_side{
    width: 50%;
    height: 95%;
    background-color: rgb(37, 196, 37);
  }



  .admin_details_area{
    width: 30vw;
    height: 90vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 50px;
    left: 35%;
    z-index: 1;
    /* animation: 1s dropup linear forwards; */
  }
  .show_admin_details{
    animation: 1s dropdown linear forwards;
  }
  .hide_admin_details{
    animation: 1s dropup linear forwards;
  }
  .close_mark_admin_details {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -45px;
    left: 45%;
    position: absolute;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  
  .close_mark_admin_details i {
    font-size: 1.4rem;
    position: absolute;
    left: -25px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @keyframes dropdown {
     0%{
        transform: translateY(-10%);
     }
     30%{
      transform: translateY(-3%);

     }
     60%{
      transform: translateY(3%);

     }
     100%{
      transform: translateY(0);
     }
  }
  @keyframes dropup {
    0%{
      transform: translateY(0);
   }
   30%{
    transform: translateY(3%);

   }
   60%{
    transform: translateY(-3%);

   }
   100%{
    transform: translateY(-140%);
   }
  }